# Importing the dependencies

In [ ]:
import numpy as np
import torch
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader
from torchtext.datasets import YelpReviewPolarity
import pandas as pd
import torch.optim as optim
import matplotlib.pyplot as plt
from torchtext.vocab import GloVe
from nltk import word_tokenize, sent_tokenize, RegexpTokenizer
import nltk

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

# Downloading and preparing dataset

In [ ]:
# run this cell to prepare your data


# sample
def sample_k_array(mat, k, labels=2):
  data = []
  for label in range(1, labels + 1):
    temp_mat = mat[mat[:,0] == label]
    temp_array = temp_mat[np.random.choice(temp_mat.shape[0], k, replace=False), :]
    for item in temp_array:
      data.append(item)
  return np.array(data)

# download dataset
YelpReviewPolarity(root='.', split=('train', 'test'))

# reading train & test data
train_dataframe = pd.read_csv('YelpReviewPolarity/yelp_review_polarity_csv/train.csv')
val_dataframe = pd.read_csv('YelpReviewPolarity/yelp_review_polarity_csv/test.csv')

# renaming columns
train_dataframe = train_dataframe.rename(columns={\
    train_dataframe.columns[0]: 'label', train_dataframe.columns[1]: 'text'})

val_dataframe = val_dataframe.rename(columns={\
    val_dataframe.columns[0]: 'label', val_dataframe.columns[1]: 'text'})


train_mat = train_dataframe.values
val_mat = val_dataframe.values
train_data = sample_k_array(train_mat, 5000)
val_data = sample_k_array(val_mat, 1000)
train_data = pd.DataFrame({
    'text': train_data[:, 1],
    'label': train_data[:, 0]
})
val_data = pd.DataFrame({
    'text': val_data[:, 1],
    'label': val_data[:, 0]
})
train_data['label'] -= 1
val_data['label'] -= 1

100%|██████████| 166M/166M [00:02<00:00, 56.3MB/s]

In [ ]:
# download Glove 100-dim vectors
glove_embedding = GloVe(name='6B', dim=100)

.vector_cache/glove.6B.zip: 862MB [02:42, 5.30MB/s]
100%|█████████▉| 399999/400000 [00:21<00:00, 18639.99it/s]

In [ ]:
train_data

                                                   text label
0     Went to a the Harvest Festival today and the f...     0
1     I would in no way recommend this restaurant to...     0
2     I went once and they messed up the job I asked...     0
3     You want to know how I know they didn't make m...     0
4     The food was average and the dinning room was ...     0
...                                                 ...   ...
9995  We walked over here to eat a late lunch after ...     1
9996  Not nearly as expensive as I had thought and t...     1
9997  One thing I love about Vegas is trying out all...     1
9998  Loved the food here! Intimate setting which is...     1
9999  Thee GOOD FRIDAY first Friday was amazing! Fir...     1

[10000 rows x 2 columns]

In [ ]:
val_data

                                                   text label
0     Everything about this place was just so-so inc...     0
1     I too am a big Pita Jungle fan, and have been ...     0
2     I guess you really can't put lipstick on a pig...     0
3     I am sitting here regretting I ever came.  The...     0
4     We came for the oyster bar and the long line w...     0
...                                                 ...   ...
1995  This is a really nice salon! Their equipment i...     1
1996  Good food at a decent price. Only problem when...     1
1997  The speedway is fun.  Parking was pretty easy ...     1
1998  This place is excellent and NEVER seems to be ...     1
1999  I love Earl of Sandwich! Ishhhh goood! The onl...     1

[2000 rows x 2 columns]

In [ ]:
# your code

# Defining Model

In [ ]:
class YelpClassifier(nn.Module):

  def __init__(self):
      super(YelpClassifier,self).__init__()
      # your code

  def forward(self):
      # your code

# Training & Evaluation

In [ ]:
# your code

# Draw Loss & F1-score

In [ ]:
# your code